<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright© 2010 - 2013 TIBCO Software Inc. 
  All rights reserved. 
  
  This software is confidential and proprietary information of TIBCO Software Inc.
-->
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="platformExtension" name="Manfiest YML Platform Specific Extension" schema="schema/manfiestYMLPlatformExtension.exsd"/>
  
   <extension
          point="com.tibco.zion.dc.productPackager">
       <packager
             packagerClass="com.tibco.bw.core.design.yml.export.ManifestYMLPackager"
             productID="com.tibco.zion.dc.manifest.yml.packager">
       </packager>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
   <renameParticipant
             class="com.tibco.bw.core.design.yml.refactoring.RenameApplicationUpdateYMLFileParticipant"
             id="com.tibco.bw.refactoring.participants.rename.project.updateYMLFile"
             name="%renameParticipant.name">
          <enablement>
             <with
                   variable="element">
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
             </with></enablement>
       </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.tibco.bw.core.design.yml.create.CreateManifestYMLHandler"
            id="com.tibco.bw.core.design.yml.CreateManifestYMLCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
             <menu
               id="com.tibco.bw.core.design.yml.CreateManifestYMLMenu"
               label="%menu.label">
         <command
               commandId="com.tibco.bw.core.design.yml.CreateManifestYMLCommand"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <test
                        forcePluginActivation="true"
                        property="com.tibco.bw.core.design.yml.isModuleProject">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.bw.core.design.yml.create.ModuleProjectPropertyTester"
            id="com.tibco.bw.core.design.yml.ModuleProjectPropertyTester"
            namespace="com.tibco.bw.core.design.yml"
            properties="isModuleProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         point="com.tibco.bw.core.design.process.editor.projectPostcreateExtension">
      <postcreateExtension
            class="com.tibco.bw.core.design.yml.create.CreateManifestFileExtension"
            id="manifest.yml.creation.extension">
      </postcreateExtension>
   </extension>

   






   

   

   







        

        

        

   
   
        
   








     <!-- add to pop menu --> 

        
         
</plugin>
